[Unit]
Description=Contegix Sensu Server

[Service]
User=contegix-sensu
Group=contegix-sensu
Environment="INSTALL_BASE=/opt/contegix/sensu"
Environment="PATH=/opt/contegix/sensu/embedded/bin:/opt/contegix/sensu/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="LOG_LEVEL=info"
Environment="GEM_PATH=/opt/contegix/sensu/embedded/lib/ruby/gems/2.0.0"
EnvironmentFile=/opt/contegix/sensu/etc/sysconfig/sensu
ExecStart=/opt/contegix/sensu/bin/sensu-server -c ${INSTALL_BASE}/etc/sensu/config.json -d ${INSTALL_BASE}/etc/sensu/conf.d -e ${INSTALL_BASE}/etc/sensu/extensions -l ${INSTALL_BASE}/var/log/sensu/sensu-client.log -L ${LOG_LEVEL}
KillMode=process
Restart=on-failure
RestartSec=1min

[Install]
WantedBy=multi-user.target
