[Unit]
Description=Contegix Sensu Server

[Service]
User=contegix-sensu
Group=contegix-sensu
ExecStart=/opt/contegix/sensu/bin/sensu-server -c /opt/contegix/sensu/etc/sensu/config.json -d /opt/contegix/sensu/etc/sensu/conf.d -e /opt/contegix/sensu/etc/sensu/extensions -l /opt/contegix/sensu/var/log/sensu/sensu-server.log
KillMode=process
Restart=on-failure
RestartSec=1min

[Install]
WantedBy=multi-user.target
